@media only screen and (max-width: 640px) {
  /* line 6, ../_scss/responsive.scss */
  #content {
    width: 100% !important;
    left: auto !important;
    top: -100%;
    border: none !important;
    margin: 0 0 60px 0 !important;
    padding: 0 0 60px 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  /* line 15, ../_scss/responsive.scss */
  #content.slideOut {
    top: 0 !important;
    margin-left: 0 !important;
  }
  /* line 20, ../_scss/responsive.scss */
  #content nav {
    width: 350px !important;
    top: auto !important;
    right: auto !important;
    left: 50%;
    bottom: 0;
    margin-left: -175px;
    position: absolute;
  }
  /* line 29, ../_scss/responsive.scss */
  #content nav li {
    float: left;
    margin-left: 10px;
  }
  /* line 33, ../_scss/responsive.scss */
  #content nav li:first-child {
    margin-left: 0;
  }

  /* line 40, ../_scss/responsive.scss */
  #city {
    width: 160% !important;
    margin: -80% 0 0 -80% !important;
  }

  /* line 45, ../_scss/responsive.scss */
  #forest {
    width: 100% !important;
  }
}
@media only screen and (max-width: 580px) {
  /* line 51, ../_scss/responsive.scss */
  #scale_days, #river {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@media only screen and (max-width: 480px) {
  /* line 57, ../_scss/responsive.scss */
  #scale_days, #river {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
}
