/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media only screen and (max-width: 800px) {
  /* line 6, ../_scss/responsive.scss */
  #content {
    width: 100% !important;
    left: auto !important;
    top: -100%;
    border: none !important;
    margin: 0 !important;
    padding: 60px 0 0 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  /* line 15, ../_scss/responsive.scss */
  #content a.close {
    top: 80px !important;
    right: 65px !important;
  }
  /* line 20, ../_scss/responsive.scss */
  #content.slideOut {
    top: -60px !important;
    margin-left: 0 !important;
  }
  /* line 25, ../_scss/responsive.scss */
  #content nav {
    background-color: #f1f5cf;
    width: 100% !important;
    height: 50px;
    top: auto !important;
    right: auto !important;
    bottom: 0;
    position: absolute;
    z-index: 5;
    padding-top: 10px;
  }
  /* line 36, ../_scss/responsive.scss */
  #content nav ul {
    width: 350px;
    left: 50%;
    margin-left: -175px;
    position: absolute;
    bottom: 0;
    margin-top: 5px;
  }
  /* line 45, ../_scss/responsive.scss */
  #content nav li {
    float: left;
    margin-left: 10px;
  }
  /* line 49, ../_scss/responsive.scss */
  #content nav li:first-child {
    margin-left: 0;
  }

  /* line 56, ../_scss/responsive.scss */
  #city {
    width: 180% !important;
    margin: -90% 0 0 -90% !important;
  }

  /* line 61, ../_scss/responsive.scss */
  #forest {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1099px) {
  /* line 67, ../_scss/responsive.scss */
  #forest {
    width: 80% !important;
  }
}
@media only screen and (max-width: 999px) {
  /* line 73, ../_scss/responsive.scss */
  #scalable {
    -webkit-transform: scale(0.9) !important;
    -moz-transform: scale(0.9) !important;
    -ms-transform: scale(0.9) !important;
    -o-transform: scale(0.9) !important;
    transform: scale(0.9) !important;
  }

  /* line 77, ../_scss/responsive.scss */
  #forest {
    width: 79%;
  }
}
@media only screen and (max-width: 580px) {
  /* line 83, ../_scss/responsive.scss */
  #scalable {
    -webkit-transform: scale(0.7) !important;
    -moz-transform: scale(0.7) !important;
    -ms-transform: scale(0.7) !important;
    -o-transform: scale(0.7) !important;
    transform: scale(0.7) !important;
  }

  /* line 87, ../_scss/responsive.scss */
  #forest {
    width: 110% !important;
  }
}
@media only screen and (max-width: 480px) {
  /* line 93, ../_scss/responsive.scss */
  #scalable {
    -webkit-transform: scale(0.6) !important;
    -moz-transform: scale(0.6) !important;
    -ms-transform: scale(0.6) !important;
    -o-transform: scale(0.6) !important;
    transform: scale(0.6) !important;
  }

  /* line 97, ../_scss/responsive.scss */
  #content nav ul {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@font-face {
  font-family: 'Sahara';
  src: url("../assets/fonts/sahara.eot");
  src: url("../assets/fonts/sahara.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sahara.woff") format("woff"), url("../assets/fonts/sahara.ttf") format("truetype"), url("../assets/fonts/sahara.svg#sahararegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes rotateCircle {
  /* line 21, ../_scss/screen.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotateCircle {
  /* line 24, ../_scss/screen.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes rotateCircle {
  /* line 27, ../_scss/screen.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  /* line 30, ../_scss/screen.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 35, ../_scss/screen.scss */
html {
  height: 100%;
}

/* line 39, ../_scss/screen.scss */
body {
  background-color: #f1f5cf;
  font-size: 62.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

/* line 47, ../_scss/screen.scss */
#container {
  width: 100%;
  height: 100%;
}

/* line 52, ../_scss/screen.scss */
.clear {
  clear: both;
}

/* line 56, ../_scss/screen.scss */
#home header, nav header, #container > header, form label {
  display: none;
}

/* line 61, ../_scss/screen.scss */
.border_shadow .border_right {
  width: 100%;
  height: 7px;
  border-top: solid 7px #c1c696;
  border-left: solid 7px transparent;
  position: absolute;
  right: -7px;
}
/* line 70, ../_scss/screen.scss */
.border_shadow .border_bottom {
  width: 7px;
  height: 100%;
  border-left: solid 7px #dbe0b4;
  border-top: solid 7px transparent;
  position: absolute;
  bottom: -7px;
  right: -14px;
}
/* line 80, ../_scss/screen.scss */
.border_shadow .border_connection {
  width: 7px;
  height: 7px;
  border-bottom: solid 7px #c1c696;
  border-right: solid 7px transparent;
  position: absolute;
  right: -7px;
  bottom: -7px;
}

/* line 93, ../_scss/screen.scss */
#noise {
  background-image: url("../images/noise.png");
  background-size: 128px 128px;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  opacity: .5;
}

/* line 106, ../_scss/screen.scss */
#content {
  background-color: #f1f5cf;
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 8888;
  color: #333;
  left: -25%;
  margin-left: -72px;
  border-right: 20px solid #bec392;
  -webkit-box-shadow: 40px 0 100px 0 rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 40px 0 100px 0 rgba(50, 50, 50, 0.5);
  box-shadow: 40px 0 100px 0 rgba(50, 50, 50, 0.5);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 119, ../_scss/screen.scss */
#content.slideOut {
  left: 0;
  margin-left: 0;
}
/* line 124, ../_scss/screen.scss */
#content header {
  display: none;
}
/* line 128, ../_scss/screen.scss */
#content a.close {
  background-image: url("../images/close_button.svg");
  background-size: 36px 72px;
  width: 36px;
  height: 36px;
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 6;
  display: block;
}
/* line 139, ../_scss/screen.scss */
#content a.close:active {
  background-position: 0 36px;
}
/* line 144, ../_scss/screen.scss */
#content nav {
  width: 110px;
  right: -110px;
  top: 25px;
  position: absolute;
}
/* line 150, ../_scss/screen.scss */
#content nav li {
  background-image: url("../images/nav_button.svg");
  background-size: 110px 90px;
  width: 110px;
  height: 45px;
  margin-bottom: 8px;
}
/* line 157, ../_scss/screen.scss */
#content nav li:hover, #content nav li.active {
  background-position: 0 -45px;
}
/* line 160, ../_scss/screen.scss */
#content nav li:hover a, #content nav li.active a {
  color: #b2463f;
}
/* line 166, ../_scss/screen.scss */
#content nav a {
  width: 98px;
  height: 45px;
  font-family: Sahara, sans-serif;
  font-size: 30px;
  text-align: center;
  display: block;
  color: #f1f5cf;
  text-decoration: none;
  padding-top: 7px;
  padding-left: 5px;
}

/* line 181, ../_scss/screen.scss */
#info {
  background: #91ddc6 url("../images/bg_info.svg") left bottom no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
/* line 187, ../_scss/screen.scss */
#info .border_shadow {
  font-size: 1.6em;
  margin: 30px;
  position: relative;
  float: left;
}
/* line 194, ../_scss/screen.scss */
#info .speech {
  background: url("../images/speech.svg") no-repeat;
  width: 30px;
  height: 35px;
  left: 60px;
  bottom: -35px;
  position: absolute;
}
/* line 203, ../_scss/screen.scss */
#info p {
  background-color: #f1f5cf;
  padding: 20px;
  color: #b2463f;
}

/* line 210, ../_scss/screen.scss */
#tickets {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 215, ../_scss/screen.scss */
#tickets .info_wrapper {
  background-color: #91ddc6;
  padding: 30px 30px 40px;
}
/* line 220, ../_scss/screen.scss */
#tickets .border_shadow {
  font-size: 1.6em;
  position: relative;
}
/* line 225, ../_scss/screen.scss */
#tickets p {
  background-color: #f1f5cf;
  padding: 20px;
  color: #b2463f;
}
/* line 231, ../_scss/screen.scss */
#tickets ul {
  background-color: #b2463f;
  height: 90px;
  padding: 10px;
  width: 1000%;
}
/* line 237, ../_scss/screen.scss */
#tickets ul li {
  background-image: url("../images/calendar_item.svg");
  width: 65px;
  height: 90px;
  display: inline-block;
}
/* line 243, ../_scss/screen.scss */
#tickets ul li a {
  font-family: Sahara, sans-serif;
  font-size: 55px;
  color: #39b54a;
  text-decoration: none;
  padding: 20px 2px;
  text-align: center;
  display: block;
}
/* line 255, ../_scss/screen.scss */
#tickets form {
  margin: 30px;
  position: absolute;
  z-index: 1;
}
/* line 260, ../_scss/screen.scss */
#tickets form > div {
  margin-bottom: 10px;
}

/* line 266, ../_scss/screen.scss */
#contact {
  background: #91ddc6 url("../images/bg_contact.svg") left bottom no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
/* line 272, ../_scss/screen.scss */
#contact form {
  margin: 30px;
  position: absolute;
  z-index: 1;
}
/* line 277, ../_scss/screen.scss */
#contact form > div {
  margin-bottom: 10px;
}
/* line 282, ../_scss/screen.scss */
#contact #length {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  font-size: 0;
}
/* line 290, ../_scss/screen.scss */
#contact #length .row {
  position: absolute;
  width: 10%;
  overflow: hidden;
  bottom: 0;
}
/* line 296, ../_scss/screen.scss */
#contact #length .row.bottom {
  height: 30%;
}
/* line 299, ../_scss/screen.scss */
#contact #length .row.bottom .building {
  width: 28%;
}
/* line 304, ../_scss/screen.scss */
#contact #length .row.middle {
  height: 40%;
}
/* line 307, ../_scss/screen.scss */
#contact #length .row.middle .building {
  width: 20%;
}
/* line 312, ../_scss/screen.scss */
#contact #length .row.top {
  height: 50%;
}
/* line 315, ../_scss/screen.scss */
#contact #length .row.top .building {
  width: 28%;
}
/* line 321, ../_scss/screen.scss */
#contact #length .building {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  margin: 0 0 auto -3%;
  display: inline-block;
  -webkit-transition: margin-bottom 1s ease-in-out;
  -moz-transition: margin-bottom 1s ease-in-out;
  -o-transition: margin-bottom 1s ease-in-out;
  transition: margin-bottom 1s ease-in-out;
}
/* line 329, ../_scss/screen.scss */
#contact #length .building.hide {
  margin-bottom: -1000px !important;
}
/* line 333, ../_scss/screen.scss */
#contact #length .building.type1 {
  background-image: url("../images/building_1.svg");
  margin-bottom: -5%;
}
/* line 338, ../_scss/screen.scss */
#contact #length .building.type2 {
  background-image: url("../images/building_2.svg");
  margin-bottom: -15%;
}
/* line 343, ../_scss/screen.scss */
#contact #length .building.type3 {
  background-image: url("../images/building_3.svg");
  margin-bottom: -10%;
}

/* line 351, ../_scss/screen.scss */
form input[type="text"], form input[type="email"] {
  background: url("../images/form_input.svg");
  background-size: 100%;
  width: 342px;
  height: 70px;
  border: none;
  box-sizing: border-box;
  padding: 14px 22px 22px;
  font-size: 1.2em;
  outline: none;
}

/* line 363, ../_scss/screen.scss */
form textarea {
  background: url("../images/form_textarea.svg");
  background-size: 100%;
  width: 342px;
  height: 189px;
  max-width: 342px;
  max-height: 189px;
  border: none;
  box-sizing: border-box;
  padding: 14px 22px 22px;
  font-size: 1.2em;
  outline: none;
}

/* line 377, ../_scss/screen.scss */
form input[type="submit"] {
  background: url("../images/form_submit.svg");
  background-size: 100%;
  width: 106px;
  height: 38px;
  border: none;
  color: #f1f5cf;
  font-size: 1.2em;
  float: right;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 390, ../_scss/screen.scss */
form input, form textarea {
  color: #ad463f;
}

/* line 394, ../_scss/screen.scss */
form .range {
  background: url("../images/form_range.svg") no-repeat;
  width: 100%;
  height: 38px;
  padding: 12px 22px 12px 12px;
  box-sizing: border-box;
  position: relative;
  margin-top: 42px;
}
/* line 403, ../_scss/screen.scss */
form .range .amount {
  background: url("../images/form_range_amount.svg") no-repeat;
  height: 36px;
  top: -36px;
  left: 0;
  position: absolute;
  box-sizing: border-box;
  padding: 7px 14px;
  font-size: 1.5em;
  color: #ad463f;
  text-transform: uppercase;
}
/* line 415, ../_scss/screen.scss */
form .range .amount span {
  color: #63201c;
  margin-right: 20px;
  font-size: 1.3em;
}
/* line 422, ../_scss/screen.scss */
form .range input {
  -webkit-appearance: none;
  background-color: #63201c;
  width: 100%;
  height: 2px;
  vertical-align: middle;
}

/* line 437, ../_scss/screen.scss */
#toggleAudio {
  background-image: url("../images/audio_button.svg");
  background-size: 72px 72px;
  width: 36px;
  height: 36px;
  top: 20px;
  right: 20px;
  position: absolute;
  z-index: 9998;
  display: block;
}
/* line 448, ../_scss/screen.scss */
#toggleAudio:active {
  background-position: 36px 0;
}
/* line 452, ../_scss/screen.scss */
#toggleAudio.play {
  background-position: 0 36px;
}
/* line 455, ../_scss/screen.scss */
#toggleAudio.play:active {
  background-position: 36px 36px;
}

/* line 461, ../_scss/screen.scss */
#scalable {
  position: absolute;
  left: 50%;
  top: 50%;
}

/* line 467, ../_scss/screen.scss */
#text_city {
  background-image: url("../images/text_city.png");
  background-size: 198px 42px;
  width: 198px;
  height: 42px;
  margin: -211px 0 0 -99px;
  top: 50%;
  left: 50%;
  position: absolute;
}

/* line 480, ../_scss/screen.scss */
#durbuy {
  background-image: url("../images/logo.png");
  background-size: 241px 249px;
  width: 241px;
  height: 249px;
  margin: -134.5px 0 0 -120.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 7777;
}
/* line 491, ../_scss/screen.scss */
#durbuy #days {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -25px;
  right: 0;
  margin-left: 50%;
  margin-top: 50%;
}
/* line 501, ../_scss/screen.scss */
#durbuy .day {
  width: 50px;
  height: 50px;
  text-align: center;
  opacity: 0;
  font-family: Sahara, sans-serif;
  font-size: 46px;
  color: #f1f5cf;
  z-index: 2222;
  position: absolute;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 513, ../_scss/screen.scss */
#durbuy .day.focus {
  opacity: 1;
  z-index: 5555;
}
/* line 518, ../_scss/screen.scss */
#durbuy .day.almostFocus {
  opacity: .6;
  z-index: 5555;
}

/* line 525, ../_scss/screen.scss */
#daySelector {
  background-image: url("../images/day_selector.svg");
  background-size: 514px 268px;
  width: 514px;
  height: 268px;
  position: absolute;
  display: block;
  margin: -134px 0 0 -257px;
  position: absolute;
  z-index: 6666;
  left: 50%;
  top: 50%;
  -webkit-overflow-scrolling: touch;
}
/* line 540, ../_scss/screen.scss */
#daySelector .handle {
  width: 54px;
  height: 54px;
  margin-top: 115px;
  display: block;
  cursor: move;
  color: #FFF;
  text-decoration: none;
}
/* line 550, ../_scss/screen.scss */
#daySelector .select {
  width: 90px;
  height: 90px;
  position: absolute;
  right: -10px;
  top: 95px;
}
/* line 558, ../_scss/screen.scss */
#daySelector .month {
  width: 74px;
  height: 74px;
  bottom: 90px;
  right: 0;
  position: absolute;
}
/* line 565, ../_scss/screen.scss */
#daySelector .month span {
  background-color: #f4c747;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #ac443d;
  width: 74px;
  padding: 6px;
  text-align: center;
  position: absolute;
  bottom: -28px;
  left: -6px;
  font-size: 1.2em;
}

/* line 582, ../_scss/screen.scss */
#day {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 4444;
}
/* line 588, ../_scss/screen.scss */
#day .building {
  background-color: #b2463f;
  width: 80px;
  height: 200px;
  position: absolute;
  margin-left: -40px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  margin-top: -100px;
  -webkit-transform-origin: 50% 100px;
  -moz-transform-origin: 50% 100px;
  -ms-transform-origin: 50% 100px;
  -o-transform-origin: 50% 100px;
  transform-origin: 50% 100px;
}
/* line 598, ../_scss/screen.scss */
#day .building.show {
  margin-top: -320px !important;
  -webkit-transform-origin: 50% 320px;
  -moz-transform-origin: 50% 320px;
  -ms-transform-origin: 50% 320px;
  -o-transform-origin: 50% 320px;
  transform-origin: 50% 320px;
}

/* line 607, ../_scss/screen.scss */
#river {
  background-image: url("../images/river.png");
  width: 370px;
  height: 364px;
  background-size: 370px 364px;
  margin: -182px 0 0 -182px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation: rotateCircle 340s infinite;
  -moz-animation: rotateCircle 340s infinite;
  -o-animation: rotateCircle 340s infinite;
  animation: rotateCircle 340s infinite;
}

/* line 624, ../_scss/screen.scss */
#forest {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
}
/* line 630, ../_scss/screen.scss */
#forest .rocks {
  background: url("../images/rocks.svg") no-repeat;
  background-size: 195px 154px;
  width: 195px;
  height: 154px;
  position: absolute;
}
/* line 638, ../_scss/screen.scss */
#forest .tree {
  background: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 45px;
  -webkit-transition: margin 1s ease;
  -moz-transition: margin 1s ease;
  -o-transition: margin 1s ease;
  transition: margin 1s ease;
}
/* line 645, ../_scss/screen.scss */
#forest .tree.goInsideBitch {
  margin: 0 !important;
}
/* line 649, ../_scss/screen.scss */
#forest .tree.type1 {
  background-image: url("../images/tree_1.svg");
  height: 75px;
}
/* line 654, ../_scss/screen.scss */
#forest .tree.type2 {
  background-image: url("../images/tree_2.svg");
  height: 93px;
}
/* line 659, ../_scss/screen.scss */
#forest .tree.type3 {
  background-image: url("../images/tree_3.svg");
  height: 87px;
}
/* line 664, ../_scss/screen.scss */
#forest .tree.type4 {
  background-image: url("../images/tree_4.svg");
  height: 87px;
}

/* line 673, ../_scss/screen.scss */
#city {
  background: url("../images/city.svg") no-repeat;
  background-size: 100% 100%;
  width: 120%;
  margin: -60% 0 0 -60%;
  position: absolute;
  left: 50%;
  top: 50%;
}
/* line 682, ../_scss/screen.scss */
#city:before {
  content: "";
  display: block;
  padding-top: 100%;
}
