/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../_scss/screen.scss */
html {
  height: 100%;
}

/* line 13, ../_scss/screen.scss */
body {
  background-color: #7ACFB2;
  font-size: 62.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

/* line 21, ../_scss/screen.scss */
#container {
  width: 100%;
  height: 100%;
}

/* line 26, ../_scss/screen.scss */
.clear {
  clear: both;
}

/* line 30, ../_scss/screen.scss */
header {
  display: none;
}

/* line 36, ../_scss/screen.scss */
#nav {
  background-color: #22282F;
  width: 25%;
  height: 100%;
  position: absolute;
  z-index: 10;
  color: #FFF;
  left: -20%;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}
/* line 46, ../_scss/screen.scss */
#nav:hover {
  left: 0;
}

/* line 53, ../_scss/screen.scss */
#durbuy {
  background-color: #F8F2AB;
  width: 30%;
  margin: -15% 0 0 -15%;
}
/* line 58, ../_scss/screen.scss */
#durbuy #days {
  position: absolute;
  top: -15px;
  bottom: 0;
  left: -15px;
  right: 0;
  margin-left: 50%;
  margin-top: 50%;
}
/* line 68, ../_scss/screen.scss */
#durbuy .day {
  background-color: #E84F89;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 79, ../_scss/screen.scss */
#durbuy #showSelectedDay {
  background-color: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
  border: 2px solid #FFF;
  margin-top: -216px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 231px;
  -moz-transform-origin: 50% 231px;
  -ms-transform-origin: 50% 231px;
  -o-transform-origin: 50% 231px;
  transform-origin: 50% 231px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 93, ../_scss/screen.scss */
#durbuy #dragDayHandle {
  background-color: #22282F;
  width: 30px;
  height: 30px;
  color: #FFF;
  display: block;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  line-height: 30px;
  position: absolute;
  margin-top: -216px;
  -webkit-transition: width 0.2s, height 0.2s;
  -moz-transition: width 0.2s, height 0.2s;
  -o-transition: width 0.2s, height 0.2s;
  transition: width 0.2s, height 0.2s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 231px;
  -moz-transform-origin: 50% 231px;
  -ms-transform-origin: 50% 231px;
  -o-transform-origin: 50% 231px;
  transform-origin: 50% 231px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 107, ../_scss/screen.scss */
#durbuy #dragDayHandle:hover, #durbuy #dragDayHandle:focus {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

/* line 123, ../_scss/screen.scss */
#forest {
  background-color: #B4D6A4;
  width: 70%;
  margin: -35% 0 0 -35%;
}

/* line 131, ../_scss/screen.scss */
#city {
  background-color: #67BC9A;
  width: 100%;
  margin: -50% 0 0 -50%;
}

/* line 137, ../_scss/screen.scss */
#durbuy, #forest, #city {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 143, ../_scss/screen.scss */
#durbuy:before, #forest:before, #city:before {
  content: "";
  display: block;
  padding-top: 100%;
}
