/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../_scss/screen.scss */
html {
  height: 100%;
}

/* line 13, ../_scss/screen.scss */
body {
  background-color: #7ACFB2;
  font-size: 62.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

/* line 21, ../_scss/screen.scss */
#container {
  width: 100%;
  height: 100%;
}

/* line 26, ../_scss/screen.scss */
.clear {
  clear: both;
}

/* line 30, ../_scss/screen.scss */
header {
  display: none;
}

/* line 36, ../_scss/screen.scss */
#nav {
  background-color: #22282F;
  width: 25%;
  height: 100%;
  position: absolute;
  z-index: 10;
  color: #FFF;
  left: -20%;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}
/* line 46, ../_scss/screen.scss */
#nav:hover {
  left: 0;
}

/* line 53, ../_scss/screen.scss */
#durbuy {
  background-image: url("../images/logo.png");
  background-size: 303.5px 312.5px;
  width: 303.5px;
  height: 312.5px;
  margin: -166.7px 0 0 -151.7px;
  position: absolute;
  left: 50%;
  top: 50%;
}
/* line 63, ../_scss/screen.scss */
#durbuy #days {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  right: 0;
  margin-left: 50%;
  margin-top: 50%;
}
/* line 73, ../_scss/screen.scss */
#durbuy .day {
  background-color: #E84F89;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  opacity: .6;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 85, ../_scss/screen.scss */
#durbuy #showSelectedDay {
  background-color: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
  border: 2px solid #FFF;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 95, ../_scss/screen.scss */
#durbuy #dragDayHandle {
  background-color: #22282F;
  width: 30px;
  height: 30px;
  color: #FFF;
  display: block;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 383px;
  -webkit-transition: width 0.2s, height 0.2s;
  -moz-transition: width 0.2s, height 0.2s;
  -o-transition: width 0.2s, height 0.2s;
  transition: width 0.2s, height 0.2s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 110, ../_scss/screen.scss */
#durbuy #dragDayHandle:hover, #durbuy #dragDayHandle:focus {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

/* line 118, ../_scss/screen.scss */
#daySelector {
  background-image: url("../images/day_selector.svg");
  background-size: 490px 70px;
  width: 490px;
  height: 70px;
  position: absolute;
  display: block;
  margin: -35px 0 0 -245px;
  position: absolute;
  left: 50%;
  top: 50%;
}
/* line 131, ../_scss/screen.scss */
#daySelector .handle {
  width: 70px;
  height: 64px;
  display: block;
  cursor: move;
  line-height: 64px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
}
/* line 142, ../_scss/screen.scss */
#daySelector .select {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 153, ../_scss/screen.scss */
#day {
  position: absolute;
}
/* line 156, ../_scss/screen.scss */
#day .building {
  width: 40px;
  height: 200px;
  background-color: #FF0000;
  position: absolute;
}

/* line 166, ../_scss/screen.scss */
#forest {
  background-color: #f1f5cf;
  width: 70%;
  margin: -35% 0 0 -35%;
}

/* line 174, ../_scss/screen.scss */
#city {
  background-color: #67BC9A;
  width: 100%;
  margin: -50% 0 0 -50%;
}

/* line 180, ../_scss/screen.scss */
#forest, #city {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 186, ../_scss/screen.scss */
#forest:before, #city:before {
  content: "";
  display: block;
  padding-top: 100%;
}
