@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";

@media only screen and (max-width: 800px) {
	#content {
		width: 100% !important;
		left: auto !important;
		top: -100%;
		border: none !important;
		margin: 0 !important;
		padding: 60px 0 0 0 !important;
		@include box-shadow(none !important);

		a.close {
			top: 80px !important;
			right: 65px !important;
		}

		&.slideOut {
			top: -60px !important;
			margin-left: 0!important;
		}

		nav {
			background-color: #f1f5cf;
			width: 100% !important;
			height: 50px;
			top: auto !important;
			right: auto !important;
			bottom: 0;
			position: absolute;
			z-index: 5;
			padding-top: 10px;

			ul {
				width: 350px;
				left: 50%;
				margin-left: -175px;
				position: absolute;
				bottom: 0;
				margin-top: 5px;
			}

			li {
				float: left;
				margin-left: 10px;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	#city {
		width: 160% !important;
		margin: -80% 0 0 -80% !important;
	}

	#forest {
		width: 100% !important;
	}
}

@media only screen and (min-width: 1099px) and (max-width: 1200px) {
	#forest {
		width: 80% !important;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1098px) {
	#scalable {
		@include transform(scale(.9) !important);
	}

	#forest {
		width: 79% !important;
	}

	#content {
		width: 35% !important;
		left: -28% !important;

		&.slideOut {
			left: 0 !important;
		}
	}

	form {
		padding: 10px 0 !important;
		@include transform(scale(.9) !important);
	}
}

@media only screen and (max-width: 640px) {
	#day {
		bottom: -130px !important;
		top: auto !important;
		left: auto !important;
		margin: 0 !important;
	}

	form {
		padding: 80px 140px !important;
		@include transform(scale(1.5) !important);
	}
}

@media only screen and (max-width: 580px) {
	#scalable {
		@include transform(scale(.7) !important);
	}

	#forest {
		width: 120% !important;
	}

	#city {
		width: 180% !important;
		margin: -90% 0 0 -90% !important;
	}
}

@media only screen and (max-width: 480px) {
	#scalable {
		@include transform(scale(.6) !important);
	}

	#content nav ul {
		@include transform(scale(.8));
	}

	#city {
		width: 190% !important;
		margin: -95% 0 0 -95% !important;
	}

	form {
		padding: 50px 70px !important;
		@include transform(scale(1.2) !important);
	}
}