@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";

@media only screen and (max-width: 640px) {
	#content {
		width: 100% !important;
		left: auto !important;
		top: -100%;
		border: none !important;
		margin: 0 !important;
		padding: 60px 0 0 0 !important;
		@include box-shadow(none !important);

		> a {
			top: 60px !important;
		}

		&.slideOut {
			top: -60px !important;
			margin-left: 0!important;
		}

		nav {
			width: 350px !important;
			top: auto !important;
			right: auto !important;
			left: 50%;
			bottom: 0;
			margin-left: -175px;
			position: absolute;

			li {
				float: left;
				margin-left: 10px;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	#city {
		width: 160% !important;
		margin: -80% 0 0 -80% !important;
	}

	#forest {
		width: 100% !important;
	}
}

@media only screen and (max-width: 580px) {
	#scalable {
		@include transform(scale(.7) !important);
	}
}

@media only screen and (max-width: 480px) {
	#scalable {
		@include transform(scale(.6) !important);
	}

	#content nav {
		@include transform(scale(.8));
	}
}