@import "compass/reset";
@import "compass";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";

@-webkit-keyframes showBuilding {
  0% { @include transform-origin(50%, 100px); margin-top: -100px; }
  100% { @include transform-origin(50%, 320px); margin-top: -320px; }
}
@-moz-keyframes showBuilding {
  0% { @include transform-origin(50%, 100px); margin-top: -100px; }
  100% { @include transform-origin(50%, 320px); margin-top: -320px; }
}
@-o-keyframes showBuilding {
  0% { @include transform-origin(50%, 100px); margin-top: -100px; }
  100% { @include transform-origin(50%, 320px); margin-top: -320px; }
}
@keyframes showBuilding {
  0% { @include transform-origin(50%, 100px); margin-top: -100px; }
  100% { @include transform-origin(50%, 320px); margin-top: -320px; }
}

@-webkit-keyframes rotateCircle {
  100% { @include transform(rotate(360deg)); }
}
@-moz-keyframes rotateCircle {
  100% { @include transform(rotate(360deg)); }
}
@-o-keyframes rotateCircle {
  100% { @include transform(rotate(360deg)); }
}
@keyframes rotateCircle {
  100% { @include transform(rotate(360deg)); }
}

// Main divs and tags

html {
  height: 100%;
}

body {
  background-color: #f1f5cf;
  font-size: 62.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
}

header {
  display: none;
}

// Navigation

#content {
  background-color: #22282F;
  width: 25%;
  height: 100%;
  position: absolute;
  z-index: 10;
  color: #FFF;
  left: -25%;
  @include transition(left 1s);

  &.slideOut {
    left: 0;
  }

  nav {
    width: 110px;
    right: -110px;
    top: 25px;
    position: absolute;

    li {
      background-image: url('../images/nav_button.svg');
      background-size: 110px 45px;
      width: 110px;
      height: 45px;
      margin-bottom: 8px;
    }

    a {
      width: 98px;
      height: 45px;
      font-family: Sahara, sans-serif;
      font-size: 30px;
      text-align: center;
      display: block;
      color: #f1f5cf;
      text-decoration: none;
      padding-top: 9px;
    }
  }
}

// Durbuy

#durbuy {
  background-image: url('../images/logo.png');
  background-size: 303.5px 312.5px;
  width: 303.5px;
  height: 312.5px;
  margin: -166.7px 0 0 -151.7px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;

  #days {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    right: 0;
    margin-left: 50%;
    margin-top: 50%;
  }

  .day {
    width: 36px;
    width: 36px;
    height: 36px;
    text-align: center;
    opacity: 0;
    font-family: Sahara, sans-serif;
    font-size: 46px;
    color: #f1f5cf;
    //display: none;
    // TODO: Sahara webfont
    position: absolute;
    @include transition(opacity .3s);

    &.focus {
      opacity: 1;
      display: block;
    }

    &.almostFocus {
      opacity: .6;
      display: block;
    }
  }
}

#daySelector {
  background-image: url('../images/day_selector.svg');
  background-size: 514px 74px;
  width: 514px;
  height: 74px;
  position: absolute;
  display: block;
  margin: -37px 0 0 -257px;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  //@include transform(rotate(-90deg)); // CAUSING PROBLEMS :'(

    .handle {
      width: 54px;
      height: 54px;
      margin-top: 7px;
      display: block;
      cursor: move;
      color: #FFF;
      text-decoration: none;
    }

    .select {
      width: 74px;
      height: 74px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

// Day

#day {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 4;

  .building {
    background-color: rgba(122, 0, 50, .4);
    width: 40px;
    height: 200px;
    position: absolute;
    margin-left: -20px;
    -webkit-animation: showBuilding 1s forwards;
    -moz-animation:    showBuilding 1s forwards;
    -o-animation:      showBuilding 1s forwards;
    animation:         showBuilding 1s forwards;
  }
}

// River

#river {
  background-image: url('../images/river.png');
  width: 370px;
  height: 364px;
  background-size: 370px 364px;
  margin: -182px 0 0 -182px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation: rotateCircle 340s;
  -moz-animation:    rotateCircle 340s;
  -o-animation:      rotateCircle 340s;
  animation:         rotateCircle 340s;
}

// Forest

#forest {
  background-color: #f1f5cf;
  width: 70%;
  margin: -35% 0 0 -35%;
}

// City

#city {
  background-color: #67BC9A;
  width: 100%;
  margin: -50% 0 0 -50%;
}

#forest, #city {
  position: absolute;
  left: 50%;
  top: 50%;
  @include border-radius(50%);

  &:before { // fix for equal height and width
    content: "";
    display: block;
    padding-top: 100%;
  }
}