@import "compass/reset";
@import "compass";

// Main divs and tags

html {
  height: 100%;
}

body {
  background-color: #7ACFB2;
  font-size: 62.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
}

header {
  display: none;
}

// Navigation
