<li>
    <span id="comment"><strong>{{day.title}}: </strong>&laquo; {{url}} &raquo; {{approved}}</span><br/>
    <a class="approve" href="">approve</a>
    <a class="deny" href="">deny</a>
    <a class="delete" href="">delete</a><br/>
    <span class="meta">added on {{uploaded_date}}</span>
</li>