<div class="border_shadow">
	<p class="content_item">
		<span class="item"><strong>{{day.title}}: </strong>&laquo; {{url}} &raquo; {{approved}}</span><br/>
		<a class="approve" href="">approve</a>
		<a class="deny" href="">deny</a>
		<a class="delete" href="">delete</a><br/>
		<span class="meta">added on {{uploaded_date}}</span>
	</p>
	<div class="border_right"></div>
	<div class="border_bottom"></div>
	<div class="border_connection"></div>
</div>