<li>
    <span id="comment">&laquo; {{url}} &raquo;</span><br>
    <a class="approve" href="">approve</a>
    <a class="delete" href="">delete</a>
    <span class="meta">added on {{uploaded_date}}</span>
</li>