<header>
	<h1>Contact</h1>
</header>
<form method="post" action="">
	<div>
		<label for="txtName">Naam:</label>
		<input type="text" required name="txtName" id="txtName" placeholder="Joske Vermeulen"/>
	</div>

	<div>
		<label for="txtEmail">E-mailadres:</label>
		<input type="email" required name="txtEmail" id="txtEmail" placeholder="joske.vermeulen@trammezand.lei" />
	</div>

	<div>
		<label for="txtMessage">Bericht:</label>
		<textarea name="txtMessage" required id="txtMessage" cols="30" rows="10"></textarea>
	</div>

	<div>
		<input type="submit" name="btnSubmit" id="btnSubmitContact" value="Versturen"/>
	</div>
</form>