<header>
	<h1>Contact</h1>
</header>
<form method="post" action="">
	<div>
		<label for="txtName">Naam:</label>
		<input type="text" required name="txtName" id="txtName" placeholder="Joske Vermeulen"/>
	</div>

	<div>
		<label for="txtEmail">E-mailadres:</label>
		<input type="email" required name="txtEmail" id="txtEmail" placeholder="joske.vermeulen@trammezand.lei" />
	</div>

	<div>
		<label for="txtMessage">Bericht:</label>
		<textarea name="txtMessage" required id="txtMessage" cols="30" rows="10" placeholder="Ik heb een vraag omtrent En Route..."></textarea>
	</div>

	<div>
		<input type="submit" name="btnSubmit" id="btnSubmitContact" value="Stuur"/>
	</div>
</form>
<div id="length">
		<div class="row top">
		<div class="building type3"></div>
		<div class="building type2"></div>
		<div class="building type2"></div>
		<div class="building type2"></div>
		<div class="building type3"></div>
		<div class="clear"></div>
	</div>
	<div class="row middle">
		<div class="building type2"></div>
		<div class="building type3"></div>
		<div class="building type3"></div>
		<div class="clear"></div>
	</div>
	<div class="row bottom">
		<div class="building type1"></div>
		<div class="building type3"></div>
		<div class="building type2"></div>
		<div class="building type3"></div>
		<div class="building type2"></div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>