    <header>
    	<h1>Ticket bestellen</h1>
    </header>
    <div class="info_wrapper">
        <div class="border_shadow">
            <p>
                En Route daagt je uit om gedurende één dag de stad anders te bekijken en te beleven. Samen met een kunstdocent ga je op ontdekkingsreis door de pittoreske straatjes van Durbuy.
            </p>
            <div class="border_right"></div>
            <div class="border_bottom"></div>
            <div class="border_connection"></div>
            <div class="speech"></div>
        </div>
    </div>
    {{#if days}}
    <ul>
        {{#each days}}
        <li><a href="" class="day" data-date="{{title}}"{{returnAvailability title}}>{{formatDate title}}</a></li>
        {{/each}}
    </ul>
    <div class="clear"></div>
    {{/if}}
    <form method="post" action="">
    	{{#ifTypeIsPublic ticket.type}}
    	<div>
    		<label for="txtName">Naam:</label>
    		<input type="text" required name="txtName" id="txtName" placeholder="Joske Vermeulen"/>
    	</div>

    	<div>
    		<label for="txtEmail">E-mailadres:</label>
    		<input type="email" required name="txtEmail" id="txtEmail" placeholder="joske.vermeulen@trammezand.lei" />
    	</div>

    	<div class="range">
            <div class="amount"><span>1</span> tickets</div>
    		<label for="rngTickets">Aantal tickets:</label>
    		<input type="range" required name="rngTickets" id="rngTickets" min="1" max="{{ticket.tickets_available}}" value="1" />
    	</div>
    	{{/ifTypeIsPublic}}
    	{{#ifTypeIsSchool ticket.type}}
    	<div>
    		<label for="txtName">Schoolnaam:</label>
    		<input type="text" required name="txtName" id="txtName" placeholder="Volledige schoolnaam"/>
    	</div>

    	<div>
    		<label for="txtEmail">E-mailadres:</label>
    		<input type="email" required name="txtEmail" id="txtEmail" placeholder="joske.vermeulen@trammezand.lei"/>
    	</div>
    	{{/ifTypeIsSchool}}

    	<div>
    		<input type="submit" name="btnSubmit" value="Bestel"/>
    	</div>
    </form>