<header>
	<h1>Admin</h1>
</header>
<nav>
	<header>
		<h1>Dagen</h1>
	</header>
	<ul id="selectDay">
		{{#each days}}
		<li><a href="" class="day" data-day-id="{{id}}" data-month="{{getMonth title}}">{{formatDate title}}</a></li>
		{{/each}}
	</ul>
</nav>
<ul id="contentTypes">
	<li><a href="" class="contentType" data-content-type="buildings">Gebouwen</a></li>
	<li><a href="" class="contentType" data-content-type="biggiesmalls">Foto's</a></li>
</ul>