<header>
    <h1>Admin</h1>
</header>

    <a href="" class="contentType" data-content-type="buildings">Gebouwen</a> - <a href="" class="contentType" data-content-type="biggiesmalls">Foto's</a>
<nav>
<header>
    <h1>Dagen</h1>
</header>
<ul>
    {{#each days}}
        <li><a href="" class="title" data="{{id}}">{{formatDate title}}</a></li>
    {{/each}}
</ul>
</nav>