<header>
    <h1>En Route</h1>
</header>
<article id="info" class="screen pushRightIn">
<header>
    <h1>Informatie</h1>

    <h2>workshop voor 10+ 12+ 14+ 16+</h2>
</header>
<p>
    En Route daagt je uit om gedurende één dag de stad anders te bekijken en te beleven. Na een toffe opwarming
    en briefing ga je op ontdekkingsreis doorheen de pitoreske straatjes van Durbuy,
    samen met een kunstdocent die jou begeleidt terwijl je de grootste stad ter wereld ontdekt.
    Gedurende de ontdekkingsreis krijg je verschillende opdrachten en kom je uitdagingen tegen. Het resultaat hiervan
    wordt daarna samen met de groep verwerkt en wordt deze website jullie indruk van Durbuy rijker.
</p>

<p>
    Kunst in Zicht ontwikkelt actieve kunsteducatieve projecten voor het onderwijs. Als expertisecentrum kunsteducatie
    voor scholen brengt Kunst in Zicht kunstenaars, leerlingen en hun begeleiders dichter bij elkaar. Vorig schooljaar
    lanceerde Kunst in Zicht in Turnhout het project En Route voor leerlingen van het secundair onderwijs.
</p>
</article>
<article id="contact" class="screen pushRightOut">
    <header>
        <h1>Ticket bestellen</h1>
    </header>
    <form method="post" action="">
        <div>
            <label for="txtName">Naam:</label>
            <input type="text" required name="txtName" class="txtName" id="txtName" placeholder="Joske Vermeulen"/>
        </div>

        <div>
            <label for="txtEmail">E-mailadres:</label>
            <input type="email" required name="txtEmail" class="txtEmail" id="txtEmail" placeholder="joske.vermeulen@trammezand.lei" required="required" />
        </div>

        <div>
            <label for="txtMessage">Bericht:</label>
            <textarea name="txtMessage" id="txtMessage" cols="30" rows="10"></textarea>
        </div>

        <div>
            <input type="submit" name="btnSubmit" class="btnSubmit" value="Versturen"/>
        </div>
    </form>
</article>