<header>
	<h1>Content</h1>
</header>
<a href="" class="close"></a>
<nav>
	<header>
		<h1>Navigatie</h1>
	</header>
	<ul>
		<li><a href="" data-content="info">En Route</a></li>
		<li><a href="" data-content="tickets">Tickets</a></li>
		<li><a href="" data-content="contact">Contact</a></li>
	</ul>
</nav>
<div class="clear"></div>