<header>
    <h1>Inhoud</h1>
</header>
<article id="info" class="screen pushRight">
<header>
    <h1>Info</h1>
</header>
<p>
    En route daagt je uit om gedurende één dag de stad anders te bekijken en te beleven. Na een actieve opwarming in
    Durbuy trek je, onder begeleiding van een kunstdocent, op zintuiglijke en poëtische ontdekkingstocht
    door de straten van Durbuy. Tijdens En route krijg je verschillende uitdagingen en opdrachten. Het materiaal dat
    je tijdens de tocht verzamelt, wordt in de namiddag verwerkt en zo krijgt jouw persoonlijke blik op de stad vorm.
</p>

<p>
    Kunst in Zicht ontwikkelt actieve kunsteducatieve projecten voor het onderwijs. Als expertisecentrum kunsteducatie
    voor scholen brengt Kunst in Zicht kunstenaars, leerlingen en hun begeleiders dichter bij elkaar. Vorig schooljaar
    lanceerde Kunst in Zicht in Turnhout het project En Route voor leerlingen van het secundair onderwijs.
</p>
</article>