<div id="city"></div>
<div id="forest"></div>
<a href="" id="daySelector"><span class="handle"></span></a>
<div id="durbuy">
	<nav id="days">
		<ul></ul>
		<!--<div id="showSelectedDay"></div>
		<a href="" id="dragDayHandle">=</a>-->
	</nav>
</div>