<div id="city"></div>
<div id="forest"></div>
<div id="river"></div>
<div id="daySelector"><span class="handle"></span><span class="select"></span></div>
<div id="durbuy">
	<nav id="days">
		<header>
			<h1>Dagen</h1>
		</header>
		<ul></ul>
	</nav>
</div>