<div id="city"></div>
<div id="forest"></div>
<div id="river"></div>
<div id="scale_days">
	<div id="daySelector">
		<span class="handle"></span>
		<span class="select"></span>
		<span class="month">
			<span>juni</span>
		</span>
	</div>
	<div id="durbuy">
		<nav id="days">
			<header>
				<h1>Dagen</h1>
			</header>
			<ul></ul>
		</nav>
		<audio id="toctoc">
			<source src="assets/toctoc.mp3" type="audio/mpeg; codecs='mp3'">
			<source src="assets/toctoc.ogg" type="audio/ogg; codecs='vorbis'">
		</audio>
	</div>
</div>