<header>
    <h1>Navigation</h1>
</header>
<ul>
    <li><a href="" data="info">info</a></li>
    {{#each days}}
        <li><a href="" class="title" data="{{title}}">{{formatDate title}}</a> - {{{formatAvailability title tickets_available}}}</li>
    {{/each}}
</ul>