<ul>
    <li><a href="" data="info">info</a></li>
    <li><a href="" data="item1">item 1</a></li>
    <li><a href="" data="item2">item 2</a></li>
    <li><a href="" data="item3">item 3</a></li>
    <li><a href="" data="item4">item 4</a></li>
    <li><a href="" data="item5">item 5</a></li>
</ul>